<nav class="nav">
  <form class="search" method="get" action="/search">
    <input type="text" class="query" name="query"/>
    <input type="submit" class="submit" value="Search">
  </form>
  <ul id="channel_nav"></ul>
</nav>
