
  <title>About Kandan</title>

<div class="about">

 	<h1>
 		About Kandan
			<img class="aboutlogo" src="/assets/kandanlogo.png" height="125" width="125">
 	</h1>
	
	<h3>Version 1.0</h3>

	<h3>Description</h3>
	
	<p>Kandan is an Open Source alternative to HipChat.</p>
	
	<p>What is Kandan? Kandan is a private chat service for your company or team. You can invite colleagues to share ideas and files in a persistent group chat room or rooms.</p>

	<p>Unlike HipChat or other alternatives, Kandan is completely Open Source and can be hosted internally or externally by your organization or by a third party.</p>

	<h3>Background</h3>

	<p>Kandan was originally developed by <a href="http://cloudfuji.com/">Cloudfuji</a> and they started development on it back on March 6th of 2012. Development went pretty fast and furious until about June 4th of 2012. After that there wasn’t another commit to the repository until some pull requests came in during the month of January of 2013.</p>

	<p>In talking with the team at Cloudfuji both <a href="http://jamesrgifford.com/">James Gifford</a> and <a href="http://fusion94.org">Tony Guntharp</a> agreed to take over maintenance of the project.</p>

	<h3>Features</h3>
		<ul>
			<li>Easy deploy to CloudFoundry, Heroku, dotCloud, etc.</li>
			<li>Unlimited channels</li>
			<li>Embed formats for images and youtube videos with requests for others (twitter, facebook, g+, etc.)</li>
			<li>/me command</li>
			<li>Highly extensible plugin format</li>
		</ul>

	<h3>Get Involved</h3>
	
	<p>Since Kandan is a fully open-source app, we would appreciate if you dive in and start adding features, fixing bugs (what bugs?), and cleaning up the code.</p>

	<p>Make sure you check out these resources as well.</p>

	<ul>
		<li><a href="https://github.com/kandanapp/kandan/issues">GitHub Issues Tracker</a></li>
		<li><a href="https://twitter.com/kandanapp">@kandanapp</a> on Twitter</li>
		<li><a href="http://kandan-demo.kandanapp.com">Kandan Demo</a> (Yes we eat our own DogFood)</li>
	</ul>

	<h3>Contact Us</h3>
	<p>If you find any security issues please submit an <a href="https://github.com/kandanapp/kandan/issues">Issue</a> or <a href="mailto:admin@kandanapp.com">email us</a>.</p>

</div>
