<%= javascript_tag do %>
  $(document).ready(function(){
    Kandan.init()
  })
<%- end %>



<%= image_tag "logo.png", :class=>"logo" %>

<div class="main-area"></div>
<div class="sidebar">
  <div class="header">
    <div class="search">
      <form method="get" action="/search" target="_blank">
        <input type="text" class="query" name="query"/>
      </form>
    </div>
    <div class="user"></div>
  </div>
  <div class="widgets"></div>
</div>
