<% content_for :header do %>
  <a href="#" class="nav-toggle button left"><i class="icon-comments"></i></a>
  <a href="#" class="sidebar-toggle button right"><i class="icon-reorder"></i></a>
<% end %>

<% content_for :sidebar, render("sidebar") %>

<div id="channels"></div>

<% content_for :end do %>
  <%= render "nav" %>

  <%= javascript_tag do %>
    $(document).ready(function(){
      Kandan.init()
    })
  <%- end %>

  <%- Kandan::Config.broadcaster.assets.each do |asset| %>
    <%= javascript_include_tag asset %>
  <%- end %>

  <%= javascript_tag do %>
    $(document).data("active-users", [])
  <%- end %>

  <ul class="audio_channels" style="display:none;">
    <audio class="audio_private"></audio>
    <audio class="audio_common"></audio>
  </ul>
<% end %>

