<div class="container">

  <%= javascript_tag do %>
    $(function()
    {
      var channels_json = <%= @channels.to_json(
                                :include => {
                                  :activities => {
                                    :include=>:user
                                  }
                                }).html_safe %>
    });
  <%- end %>
  
</div>
<div class="sidebar">
</div>
