<div class="container">

  <script type="text/x-handlebars">
    {{ view Kandan.ListChannelsView }}
  </script>


  <script type="text/x-handlebars">
    {{ view Kandan.ListActivitiesView }}
  </script>

  <%= javascript_tag do %>
    $(function()
    {
      var channels_json = <%= @channels.to_json(
                                :include => {
                                  :activities => {
                                    :include=>:user
                                  }
                                }).html_safe %>
      Kandan.ChannelsController.loadAll(channels_json);
    });
  <%- end %>
  
</div>
