<div class="container">

  <script type="text/x-handlebars">
    {{ view Kandan.ListChannelsView }}
  </script>

  <%= javascript_tag do %>
    $(function() {
      Kandan.ChannelsController.loadAll(<%= @channels.to_json.html_safe %>);
    });
  <%- end %>
  
</div>
