<div id="channels"></div>

<% content_for :sidebar do %>
  <div class="search">
    <form method="get" action="/search" target="_blank">
      <input type="text" class="query" name="query"/>
    </form>
  </div>
  <div class="widgets"></div>
<% end %>

<% content_for :end do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      Kandan.init()
    })
  <%- end %>

  <%- Kandan::Config.broadcaster.assets.each do |asset| %>
    <%= javascript_include_tag asset %>
  <%- end %>

  <%= javascript_tag do %>
    $(document).data("active-users", [])
  <%- end %>

  <ul class="audio_channels" style="display:none;">
    <audio class="audio_private"></audio>
    <audio class="audio_common"></audio>
  </ul>
<% end %>
