<%= javascript_tag do %>
  $(document).ready(function(){
    Kandan.init()
  })
<%- end %>



<div id="kandan">
  <div class="header">
    <%= image_tag "logo.png", :class=>"logo" %>  

    <a href="#" class="user_menu_link">
      <cite class="user_flag"></cite>
      <div class="user"></div>
    </a>

    <div class="search">
      <form method="get" action="/search" target="_blank">
	      <input type="text" class="query" name="query"/>
      </form>
    </div>
  </div>

  <div id="app_body">
    <div class="main-area">
      <div id="mask_container">
	<div id="head-mask">
	  <div class="corner_cover" style="float:left;position:relative;left:-10px;"></div>
	  <div class="corner_cover"  style="float:right;position:relative;right:-10px;"></div>
	</div>
      </div>
    </div>

    <div class="sidebar">
      <div class="sidebar_filler">
	<div class="widgets"></div>
      </div>
    </div>
  </div>

  <div id="mask">&nbsp;</div>

</div>
  <div class="user_menu">
    <%= link_to 'logout' destroy_user_session_path, :method => :destroy %>
  </div>

