<%= javascript_tag do %>
  $(document).ready(function(){
    Kandan.init()
  })
<%- end %>



<div class="main-area"></div>
<div class="sidebar">
  <div class="header">
    <div class="search">
      <form method="get" action="/search" target="_blank">
        <input type="text" class="query"/>
      </form>
    </div>
    <div class="logo">Kandan</div>
  </div>
  <div class="widgets"></div>
</div>
