<%= javascript_tag do %>
  $(document).ready(function(){
    Kandan.Plugins.initAll()
    activities = <%= @activities.to_json(:include => :user).html_safe %>;
    
    $.each(activities, function(index, activityAttributes) {
      activity = new Kandan.Models.Activity(activityAttributes);
      activityView = new Kandan.Views.ShowActivity({activity: activity});
      $(".activities").append(activityView.render().el);
    })
  })
<%- end %>

<div class="activities">
</div>


