<% content_for :header do %>
  <%= link_to content_tag(:i, nil, class: 'icon-angle-left'), root_path, class: 'button left' %>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    Kandan.Plugins.initAll()
    activities = <%= json_escape(@activities.as_json(:include => { user: { :only => [:email, :first_name, :last_name, :username, :avatar_url, :gravatar_hash, :is_admin]} }).to_json.html_safe) %>;

    $.each(activities, function(index, activityAttributes) {
      activity = new Kandan.Models.Activity(activityAttributes);
      activityView = new Kandan.Views.ShowActivity({activity: activity});
      $(".activities").append(activityView.render().el);
    })
  })
<%- end %>

<div class="activities"></div>
