.activity
  float: left
  width: 100%
  padding-top: 10px
  pandding-bottom: 10px
  border-bottom: 1px solid #DEE6E8
  background: #FFF
  position: relative
  min-height: 50px
  .readable
    float: left
    width: 85%
    .user
      color: #AEB9BD
      font-weight: bold
      float: left
      width: 100%
      margin-bottom: 4px
      font-size: 14px
    .content
      float: left
      color: #797D7F
      font-size: 14px
      padding-bottom: 15px
      .image-preview, .youtube-preview
        a
          width: 100%
        +border-radius(4px)
        +box-shadow(0px 1px 5px 0px #cccccc)
        padding: 10px
        background: #F3F8F9
        float: left
        .name
          color: #878D8F
          font-weight: bold
          margin-top: 5px

  .posted_at
    float: right
    text-align: right
    font-size: 11px
    position: absolute
    right: 0px
    +border-radius(4px)
    padding: 4px
    background: #F3F8F9
    color: #BDC6CA



  .avatar
    margin-right: 10px
    display: block
    float: left
    width: 5%
    width: 30px
    height: 30px


  &.current_user
    background-color: #F5F5F5
    .posted_at
      background: #E6EAEB
      color: #A9B1B6
