@mixin full-height {
  min-height: 100%;
  height: 100%;
}

* {
  @include box-sizing(border-box);
}

.logo {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

html {
  @include full-height;
}

body {
  background: $page-bg;
  height: 100%;
  min-height: 100%;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
}


.main-area {
  @include full-height;
  width: $main-area-width;
  float: left;
}
