=full-height
  min-height: 100%
  height: 100%

*
  +box-sizing(border-box)

.header
  display: block
  height: $header-height
  width: 100%
  position: fixed
  top: 0
  background-color: $header-bg-1
  +background-image(linear-gradient($header-bg-1, $header-bg-2))
  z-index: 10
  padding: 0 5px

.logo
  padding-top: 5px

#app_body
  height: 96%
  padding-top: $header-height

html
  +full-height

body
  background: $page-bg url(image_path('page_bg.png')) repeat
  height: 100%
  min-height: 100%
  font-size: 13px
  font-family: 'PT Sans', sans-serif

.main-area
  +full-height
  width: $main-area-width
  float: left
  border-right: 1px solid #CDD1D4


.main-area, .sidebar
  padding-top: 15px
