*
  +box-sizing(border-box)

  &::-webkit-scrollbar
    background: transparent
    border-radius: 4px
    height: 8px
    width: 8px

  &::-webkit-scrollbar-thumb
    background: #566569
    border-radius: 4px

%content-block
  background: #fff
  border-radius: 4px
  +box-shadow(0 1px 5px 0 #ccc)
  overflow: hidden

%slide-out
  width: $sidebar-width-mobile
  position: fixed
  top: 0
  bottom: 0
  z-index: 0

%header
  background-color: $header-bg-1
  +background-image(linear-gradient($header-bg-1, $header-bg-2))
  border-bottom: 1px solid #FFF
  +box-shadow(inset 0px -10px 10px -10px #000000)
  display: block
  height: $header-height
  margin: 0
  position: absolute
  top: 0
  left: 0
  right: 0

  .button
    color: rgba(255,255,255,.5)
    display: block
    font-size: 21px
    height: 100%
    text-decoration: none

    &:active,
    &.active
      color: #fff

    &.left
      float: left

    &.right
      float: right

html, body
  height: 100%
  width: 100%

body
  font-family: 'PT Sans', sans-serif
  font-size: 14px
  min-width: 320px
  overflow: hidden

  &.slide-right
    .main-area,
    .sidebar
      +transform(translateX($sidebar-width-mobile))

      @media (min-width: $medium)
        +transform(none)

  &.slide-left
    .main-area,
    .nav
      +transform(translateX(-1 * $sidebar-width-mobile))

      @media (min-width: $large)
        +transform(none)

.main-area
  +box-shadow(0 0 15px 0 rgba(0,0,0,.5))
  height: 100%
  position: relative
  z-index: 1000

  @media (min-width: $large)
    +box-shadow(none)
    margin-right: $sidebar-width-desktop

body,
.main-area
  background: $page-bg image-url('page_bg.png') repeat !important



.main-area,
.sidebar,
.nav
  padding: $header-height+10px 10px 10px
  +transition-property (transform)
  +transition-duration(.25s)
  +transition-timing-function(ease)

@import layout/header
@import layout/nav
@import layout/sidebar
