$panel-bg: #E6EBEE;
$chatbox-bg-1: #F3F8F9;
$chatbox-bg-2: #DBDFE0;

$header-height: 30px;
$header-bg-1: #566569;
$header-bg-2: #3F494B;

$widget-title-color: #7F8587;
$widget-title-bg-1: #F3F8F9;
$widget-title-bg-2: #DBDFE0;

$sidebar-width: 20%;
$sidebar-bg: #E6EBEE;

$search-bg: #5D676B;
$search-color: #CCC;

$page-bg: #E6EBEE;
$main-area-width: 80%;

