<p>Welcome <%= @resource.email %>!</p>

<%= t('devise.mailer.confirmation_instructions.message.html') %>

<p><%= link_to t('devise.mailer.confirmation_instructions.message.link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
