<p>Hello <%= @resource.email %>!</p>

<%= t('devise.mailer.reset_password_instructions.message.html') %>

<p><%= link_to t(devise.mailer.reset_password_instructions.link'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<%= t('devise.mailer.reset_password_instructions.note.html') %>
